# Build output
*.o
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
objs
*.exe
*.out
*.app
marsh_simu
marsh_tests
cpputest-3.5

# Temporary files
*~
*.md.html

# Eclipse files
.metadata
.settings
.csettings
.project
.cproject



